{{ with $.pwpolicy }}
<div class="form-text mb-3">
    <strong>{{ T "password.policy_title" }}</strong>
    <ul class="mb-0">
        {{ if gt .MinLength 0 }}<li>{{ T "password.policy_min_length_part1" }}{{ .MinLength }}{{ T "password.policy_min_length_part2" }}</li>{{ end }}
        {{ if gt .MinClasses 0 }}<li>{{ T "password.policy_min_classes_part1" }}{{ .MinClasses }}{{ T "password.policy_min_classes_part2" }}</li>{{ end }}
        {{ if gt .HistorySize 0 }}<li>{{ T "password.policy_history_part1" }}{{ .HistorySize }}{{ T "password.policy_history_part2" }}</li>{{ end }}
        {{ if gt .MaxLifeDays 0 }}<li>{{ T "password.policy_max_life_part1" }}{{ .MaxLifeDays }}{{ T "password.policy_max_life_part2" }}</li>{{ end }}
    </ul>
</div>
{{ end }}
